{%extends 'mainapp/base.html'%}
{% block title %}
    <title>admin</title>
{% endblock title %}
{% block main %}
    <ul>
        <li><a href="{% url 'admingames' %}">O'yinlar</a></li>
        <li><a href="{% url 'admintopic' %}">Mavzular</a></li>
        <li><a href="{% url 'adminfeedback' %}">Tavsiyalar</a></li>
        <li><a href="{% url 'admincontact' %}">Bog'lanish</a></li>
        <!-- doesnt work ^^^ -->
        <li><a href="{% url 'adminprojectdescription' %}">Loyiha Tasviri</a></li>
        <!-- doesnt work ^^^ -->
        <li><a href="{% url 'adminresources' %}">Qoshimcha Resurslar</a></li>
        <!-- doesnt work ^^^ -->
        <li><a href="{% url 'adminintro' %}">Asosiy Kirish Kontenti</a></li>
        <!-- doesnt work ^^^ -->
    </ul>

{% endblock main %}
<!-- sdelat searchbar dlya vseh adminskih stranic, i sdelat searchbar sorting sperva samoye novoye -->
