{% extends 'mainapp/base.html' %}

{% block main %}
    <h2>Mavzuga O'zgartirish Kiritish</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Mavzu Nomi</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ topic.name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">O'zgarishlarni Saqlash</button>
    </form>
    <form action="{% url 'delete_topic' topic.id %}" method="POST" onsubmit="return confirm(`Mavzuni O'chirib Yuborishga Ishonchingiz Komilmi?`);" style="margin-top: 20px;">
        {% csrf_token %}
        <input type="submit" value="O'chirib Yuborish" style="padding: 10px 20px; background-color: #dc3545; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease; margin-bottom: 5px;">
    </form>
    <a href="{% url 'admintopic'  %}" class="btn btn-secondary">Bekor qilish</a>
{% endblock %}
