{% extends 'mainapp/base.html' %}
{% load static %} 
    {% block title %}
    <title>Games</title>
    {% endblock title %}

{% block main %}
    <h1>Games</h1>
    <form action="" method="GET">
        <input type="text" name="search">
        <input type="submit">
    </form>
    <ul>
        {% for game in games %}
            <li>
                <h2>{{game.name}}</h2>
                <p>{{game.desc}}</p>
                <!-- <a href="{{ game.file.url }}" download>Download {{ game.title }}</a> -->
                <a href="{% url 'game_detail' game.id %}">Go!</a> <!-- Link to the detailed view -->
            </li>
        {% endfor %}
    </ul>
{% endblock main %}

<!-- transfer all html pages to this format -->
