{% extends 'mainapp/base.html' %}
{% block title %}
    <title>{{ game.name }}</title>
{% endblock title %}
{% block main %}
    <!-- <h1>{{ game.name }}</h1>
    <p>{{ game.desc }}</p>
    <p>Download: <a href="{{ game.file.url }}" download>Game</a></p>
    <a href="{% url 'game_list' %}">Back to Games</a> -->
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
        <!-- Game Name -->
        <h1 style="font-size: 2.5em; color: #007bff; margin-bottom: 20px;">{{ game.name }}</h1>
        
        <!-- Game Image -->
        <img src="{{ game.pic.url }}" alt="{{ game.name }}" style="width: 100%; max-height: 400px; object-fit: cover; border-radius: 10px; margin-bottom: 20px;">
    
        <!-- Game Author -->
        <p><strong>Muallif: </strong> {{ game.author }}</p>
    
        <!-- Game Description -->
        <p><strong>Tavsifi: </strong> {{ game.desc }}</p>
    
        <!-- Game Topic -->
        <p><strong>Mavzu: </strong> {{ game.topic }}</p>
    
        <!-- Age Range -->
        <p><strong>Ishtirokchilar yoshi: </strong> {{ game.lowage }} - {{ game.upage }} yosh</p>
    
        <!-- Number of Players -->
        <p><strong>Ishtirokchilar soni: </strong> {{ game.lowplayernum }} - {{ game.upplayernum }}</p>
    
        <!-- Duration -->
        <p><strong>Davomiyligi: </strong> {{ game.lowtime }} - {{ game.uptime }} daqiqa</p>
    
        <!-- Format -->
        <p><strong>Format: </strong> {{ game.get_format_display }}</p>
    
        <!-- Game Type -->
    
    
        <!-- Game Rules -->
        <p><strong>Qoidasi: </strong> {{ game.rules }}</p>
    
        <!-- Game Goal -->
        <p><strong>Maqsadi: </strong> {{ game.goal }}</p>
    
        <!-- Target Audience -->
        <p><strong>Vazifalari: </strong> <br>{{ game.target|linebreaksbr }}</p>
    
        <!-- Outcome -->
        <p><strong>Kompetensiyalar: </strong> <br>{{ game.outcome|linebreaksbr }}</p>

        <!-- Content -->
         <p><strong>Materiallar tarkibi: </strong> <br>{{game.content|linebreaksbr }}</p>
    
        <!-- Download Button -->
        <p>Yuklab olish: <a href="{% url 'download_game' game.id %}" download style="color: white; background-color: #007bff; padding: 10px 15px; text-decoration: none; border-radius: 5px;">O'yin manbasi</a></p>

        <!-- Download count -->
        <p><strong>Statistika: </strong> {{ game.download_count }} marta yuklab olingan</p>
    
        <!-- Back to Games Button -->
        <a href="{% url 'game_list' %}" style="color: #007bff; text-decoration: none; border: 1px solid #007bff; padding: 10px 15px; border-radius: 5px; display: inline-block;">O'yinlarga qaytish</a>
    </div>
    
{% endblock main %}